img {
    width:30%;
    /* margin: 1.666%; */
    margin: calc(10%/6);
    /* border: 0; */
    /* padding: 0; */
}

nav {
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    width: 30%;
    border-bottom: 2px solid lightslategray;
    margin: calc(10%/6);
    padding: 1em 0em 1em 0em;
;}