section {
    font-size: 15px;
    width: 50%;
    height: 500px;
    background-color: burlywood;
}

h2 {
    font-size: 0.5em;
}

h3 {
    font-size: 0.25em;
}

ul {
    font-size: 1.5em;
}


/* Use  */